---
import { Minus, X } from "@lucide/astro";
---

<div class="flex shrink-0 gap-1" aria-hidden="true">
	<span class="tz-window-control grid place-items-center">
		<Minus size={8} stroke-width="3" />
	</span>
	<span class="tz-window-control grid place-items-center">
		<X size={8} stroke-width="3" />
	</span>
</div>
